.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal {
  position: relative;
  background: #000;
  padding: 20px;
  border-radius: 16px;
  max-width: 900px;
  width: 90%;
}

.closeBtn {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #fff;
  color: #000;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.videoWrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 ratio */
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
