.mainBannerSection {
  padding: 6rem 0 2rem 0;
  background: url("/assets/images/overlayBG/bgImg.png") var(--lightColor);
}


.bannerWrapper {
  position: relative;
  width: 100%;
}


.bannerImage {
  width: 100%;
  display: block;
}

.overlayContent {
  position: absolute;
  bottom: 3rem;         
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  z-index: 2;
}

.title {
  font-size: 2rem;
  font-weight: 400;
  font-family: var(--fontTimesI);
  margin-bottom: 1rem;
}

.visitBtn{
    background: white;
    border: 1px solid var(--chestnutBrown);
    color:  var(--primary2);

    &:hover{
      background: var(--primary2);
      color: white;
    }
}
.textClass{
  font-size: 20px;
  font-weight: 400;
  font-family: var(--fontTimesI);
  margin: 0.5rem 0;
}
.phone {
  font-family: var(--fontGilroyBold);
  font-size: 24px;
  line-height: 100%;
}


@media (max-width: 768px) {
  .mainBannerSection {
    padding: 3rem 0 2rem 0;
  }
  .bannerImage{
    height: 350px;
  }
  .overlayContent {
    bottom: 2rem;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }

  .title {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
    line-height: 1.3;
  }

  .visitBtn {
    font-size: 0.8rem;
  }

  .textClass {
    font-size: 16px;
    margin: 0.4rem 0;
  }

  .phone {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .mainBannerSection {
    padding: 2rem 0 1.5rem 0;
  }


  .overlayContent {
    bottom: 1.5rem;
    width: 95%;
  }

  .title {
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
  }


  .textClass {
    font-size: 14px;
    margin: 0.3rem 0;
  }

  .phone {
    font-size: 18px;
  }
}