name: Deploy on VPS (Self Hosted)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build & Deploy Docker
        run: |
          docker compose down || true
          docker compose build
          docker compose up -d
