name: Deploy on VPS (Self Hosted)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build & Deploy with Docker
        run: |
          cd /var/www/thehorizon
          git pull origin main
          docker compose down
          docker compose build
          docker compose up -d
